h2 {
    margin: 0;
    font-size: large;
}

.amount-text {
    position: absolute;
    bottom: 0.75rem;
}

.fund-container {
    position: relative;
    border: solid gray 1px;
    padding: 1rem;
    margin: 0.5rem;
    width: 15rem;
    height: 20rem;
}